# deps
node_modules

# TypeScript compilation directory
build

# ncc output directory used for the action release
# normally the package would be ignored, but in this case it shouldn't because
# it is committed for github tags in our release process
# dist

# npm
npm-debug.log*
